<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DBConnString" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=C:\Database\AIRS.ldb; Password=l0ngAIRSb0w; Persist Security Info=True" />
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <add name="SwcTraceLevel" value="3" />
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="KioskCode" value="KL-SSK-01" />
	  <add key="BranchId" value="L-2"/>  
    <add key="ReceiptBackupPath" value="C:\TempReceipt" />
    <add key="TemporaryMode" value="xTrue" />
    <add key="MediaFileRepository" value="C:\Files\Video-Image-Gallery" />
    <add key="MenuImgRepository" value="C:\Files\MenuImg-Gallery" />
    <add key="ComponentId" value="5" />
    <add key="ComponentUniqueId" value="4c115ae7-e3f4-4b69-a1fc-49f058c8b8f0" />	  
    <add key="IPOSPath" value="D:\IPOS\ipos.exe" />
    <add key="LocationID" value="a908bee656684f10889a027cc38a0737" />
    <add key="MenuID" value="9001" />

    <!--Kiosk Setting-->
    <add key="OpeningTime" value="08:00" />
    <add key="ClosingTime" value="20:00" />
    <add key="TestPrinterMode" value="True" />
    <add key="LiveAPI" value="xTrue" />
    <add key="TestingMode" value="True" />   
	  
	  <!--Display-->
    <add key="Display_TopMost" value="xTrue" />
    <add key="Display_HideCursor" value="xTrue" />
    <add key="Display_ScreenMaximized" value="xTrue" />
    <add key="Display_ScreenResolution" value="1080x1920" />
    <add key="Display_WindowStyle" value="xTrue" />

    <!--CC Info-->
    <add key="CC_Enabled" value="xTrue" />
    <add key="CC_PortName" value="COM5" />
    <add key="CC_SettlementTime" value="23:18" />

    <!--Razer Info-->
    <add key="Razer_ApplicationCode" value="7b6c1dac010c12" />
    <add key="Razer_SecretKey" value="f64b570b3d2" />

	  <!--QR Info-->
	  <add key="QR_Enabled" value="xTrue"/>
	  <add key="QR_PortName" value="COM3"/>
	  
	  <!--Printer-->
    <add key="ReceiptPrinter_Port" value="FTP-639USL100"/>
    <add key="Printer_Enabled" value="xTrue" />
    <add key="Printer_Model" value="F" />
    <add key="TestVoucher" value="True" />
	  
	  <!--IO Board-->
    <add key="IOBoard_Enabled" value="xTrue" />
    <add key="IOBoard_PortName" value="COM1" />
    <add key="IOBoard_DI_DoorSensor" value="True|0" />
    <add key="IOBoard_DI_PanicButton" value="True|1" />
    <add key="IOBoard_DO_Light" value="True|3" />
    <add key="IOBoard_DO_QR" value="True|1" />
    <add key="IOBoard_DO_CC" value="True|2" />
    <add key="IOBoard_DO_RP" value="True|0" />
    <add key="IOBoard_DO_Alarm" value="True|4" />
    <add key="IsTableTopSSK" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

	  <!--API-->
	  <add key="ApiURL" value="http://api.xilnex.com/logic"/>
	  <add key="AppID" value="C8S0jKBCnEj7F6jXk2J86ybkCKgF3TdA"/>
	  <add key="token" value="v5_s0d+DvBMvz/ptzUzaI7EtRI4pCz6GIaj6yGVAkRzKbM="/>
	  <add key="auth" value="5"/>
	  <add key="Source" value="0"/>
	  
        <!--{source} parameter-->
        <!--0 = Pos-->
        <!--1 = Tablet-->
        <!--2 = Boyd-->
        <!--3 = Kiosk-->

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_PTI" />
        <binding name="BasicHttpBinding_IFNBAPI" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.10.200.90:8080/PTI" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_PTI" contract="PTIWCFService.PTI"
        name="BasicHttpBinding_PTI" />
      <endpoint address="http://localhost:51183/FNBAPI.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IFNBAPI" contract="FNB.IFNBAPI"
        name="BasicHttpBinding_IFNBAPI" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>